body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: white;
}


.profile-img {
    width: 260px;
    border-radius: 50%;
}

.section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

.projectes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

input, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    background: #0072ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

footer a {
    color: #00c6ff;
    text-decoration: none;
}